<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Witaj na mojej stronie domowej</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {% extends "parent.html" %}
        {% block content %}
            <p class="me"> Kontakt</p>
            <ul><li class="name"><strong>E-mail:<input text></strong></li>
            <li class="sname"><strong>Telefon:<input text></strong></li>
            <p class="send">Wyślij wiadomość</p></ul>
            <textarea name="Tekst" id="" cols="50" rows="10"></textarea>
            <form action="---"></form>
            <button type="submit"><strong>Wyślij</strong></button>
        {% endblock %}
    </body>
</html>